<header id="orderheader">
    <div class="shortcut" style="width: 100%;background-color: cornsilk">
        <div class="login_out" style="margin-left: 300px;margin-right: 100px">
            <a >城市：<input id="tem" type="text" value="北京" style="width: 40px" onchange="temp()"/></a>
            <a id="r1">天气: 晴朗</a>
            <a id="r2">温度: 36℃</a>
            <a id="r3">湿度: 48</a>
            <a id="r4">风力: 4级</a>
        </div>
        <!-- 未登录状态  -->
        <div class="login_out">
            <a href="login.html">登录</a>
            <a href="register.html">注册</a>
            <a href="/">返回首页</a>
        </div>
        <!-- 登录状态  -->
        <div class="login">
            <span>欢迎回来，admin</span>
            <a href="myfavorite.html" class="collection">我的收藏</a>
            <a href="javascript:;">退出</a>
        </div>
    </div>
</header>
<script src="../js/xijs/header.js"></script>