<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>注册</title>
        <link rel="stylesheet" type="text/css" href="css/common.css">
        <link rel="stylesheet" href="css/register.css">
		<!--导入jquery-->
		<script src="js/jquery-3.3.1.js"></script>
		<style>
			#input1 {
				width: 100px;
				height: 30px;
				background-color: #ff3000;
				border: 0;
				border-radius: 15px;
				color: #fff;
			}

			#input1.on {
				background-color: #eee;
				color: #ccc;
				cursor: not-allowed;
			}

		</style>
    </head>

	<body>
	<!--引入头部-->
	<div id="header"></div>
        <!-- 头部 end -->
    	<div class="rg_layout">
    		<div class="rg_form clearfix">
    			<div class="rg_form_left">
    				<p>新用户注册</p>
    				<p>USER REGISTER</p>
    			</div>
    			<div class="rg_form_center">
					
					<!--注册表单-->
    				<form id="registerForm">
						<!--提交处理请求的标识符-->
						<input type="hidden" name="action" value="register">
    					<table style="margin-top: 25px;">
							<b class="prompting"></b>
    						<tr>
    							<td class="td_left">
    								<label for="username">用户名</label>
    							</td>
    							<td class="td_right">
    								<input type="text" id="username" name="username" placeholder="请输入账号,长度6到20位" required="required">
    							</td><br/>
    						</tr>
    						<tr>
    							<td class="td_left">
    								<label for="password">密码</label>
    							</td>
    							<td class="td_right">
    								<input type="text" id="password" name="password" placeholder="请输入密码,长度6到20位" required="required">
    							</td>
    						</tr>
							<tr>
								<td class="td_left">
									<label for="telephone">手机号</label>
								</td>
								<td class="td_right">
									<input type="text" id="telephone" name="telephone" placeholder="请输入您的手机号" required="required">
								</td>
							</tr>

    						<tr>
    							<td class="td_left">
    								<label for="name">姓名</label>
    							</td>
    							<td class="td_right">
    								<input type="text" id="name" name="name" placeholder="请输入真实姓名" required="required">
    							</td>
    						</tr>
    						<tr>
    							<td class="td_left">
    								<label for="sex">性别</label>
    							</td>
    							<td class="td_right gender">
    								<input type="radio" id="sex" name="sex" value="男" checked> 男
    								<input type="radio" name="sex" value="女"> 女
    							</td>
    						</tr>
    						<tr>
    							<td class="td_left">
    								<label for="birthday">出生日期</label>
    							</td>
    							<td class="td_right">
    								<input type="date" id="birthday" name="birthday" placeholder="年/月/日" required="required">
    							</td>
    						</tr>
							<tr>
								<td class="td_left">
									<label for="email">Email</label>
								</td>
								<td class="td_right">
									<input type="text" id="email" name="email" placeholder="请输入Email" required="required">
								</td>
							</tr>
    						<tr>
    							<td class="td_left">
									<label for="check">邮箱验证</label>
    							</td>
    							<td class="td_right check">
									<input type="text" id="check" name="check" class="check" required="required"><input type="button" onclick="sendcode()" id="input1" value="获取验证码">
								</td>
    						</tr>
    						<tr>
    							<td class="td_left"> 
    							</td>
    							<td class="td_right check"> 
    								<input type="submit" class="submit" value="注册">
									<span id="msg" style="color: red;"></span>
    							</td>
    						</tr>
    					</table>
    				</form>
    			</div>
    			<div class="rg_form_right">
    				<p>
    					已有账号？
    					<a href="login.html">立即登录</a>
    				</p>
    			</div>
    		</div>
    	</div>
        <!--引入尾部-->
    	<div id="footer"></div>
		<!--导入布局js，共享header和footer-->
		<script type="text/javascript" src="js/include.js"></script>
		<script>
			/*
			 表单校验：
			 1.用户名：单词字符，长度8到20位
			 2.密码：单词字符，长度6到20位
			 3.email：邮件格式
			 4.姓名：非空
			 5.手机号：手机号格式
			 6.出生日期：非空
			 7.验证码：非空
			 */

            //校验用户名
            //单词字符，长度8到20位
            function checkUsername() {
                //1.获取用户名值
                var username = $("#username").val();
                //2.定义正则
                var reg_username = /^\w{6,20}$/;
                //3.判断，给出提示信息
                var flag = reg_username.test(username);
                if(flag){
                    //用户名合法
                    $("#username").css("border","");
                }else{
                    //用户名非法,加一个红色边框
                    $("#username").css("border","1px solid red");
                    $(".prompting").text("用户名非法,请重新输入！")
                }
                return flag;
            }

            //校验密码
            function checkPassword() {
                var password = $("#password").val();
                var reg_password = /^\w{6,20}$/;

                //判断，给出提示信息
                var flag = reg_password.test(password);
                if(flag){
                    //密码合法
                    $("#password").css("border","");
                }else{
                    //密码非法,加一个红色边框
                    $("#password").css("border","1px solid red");
                    $(".prompting").text("密码非法,请重新输入！")
                }

                return flag;
            }

            //校验邮箱
            function checkEmail(){
                var email = $("#email").val();
                var reg_email = /^\w+@\w+\.\w+$/;
                var flag = reg_email.test(email);
                if(flag){
                    $("#email").css("border","");
                }else{
                    $("#email").css("border","1px solid red");
                    $(".prompting").text("邮箱格式非法,请重新输入！")
                }

                return flag;
            }

            //校验手机格式
            function checkTel(){
                var telephone = $("#telephone").val();
                var tel =/^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/ ;

                var flag = tel.test(telephone);
                if(flag){
                    $("#telephone").css("border","");
                }else{
                    $("#telephone").css("border","1px solid red");
                    $(".prompting").text("手机格式非法,请重新输入！")
                }

                return flag;
            }

            $(function () {
                //当表单提交时，调用所有的校验方法
                $("#registerForm").submit(function(){
                    //1.发送数据到服务器
                    if(checkUsername() && checkPassword() && checkEmail()){  // 校验通过,发送ajax请求，提交表单的数据

						//把序列化的值传给ajax()作为url的参数，轻松使用ajax()提交form表单了，而不需要一个一个获取表单中的值然后传给ajax()
                        $.post("/registuser",$(this).serialize(),function(data){
                            //处理服务器响应的数据  data
							var mes=eval(data);
                            if(mes){
                                //注册成功，跳转成功页面
                                location.href="/register_ok";
                            }else{
                                //注册失败,给errorMsg添加提示信息
                                $(".prompting").text("注册失败，请重新发送验证码");

                            }
                        });

                    }
                    //2.不让页面跳转
                    return false;  //如果返回为false，则表单不提交

                });

                //当某一个组件失去焦点是，调用对应的校验方法
                $("#username").blur(checkUsername);
                $("#password").blur(checkPassword);
                $("#email").blur(checkEmail);
                $("#telephone").blur(checkTel);
            });

            $("input[type='button']").click(btnCheck);



            //手机（qq邮箱）验证码验证信息
			function sendcode() {
                //var tel=$("#telephone").val();  手机验证码的，需要花钱，现在改成邮箱验证
                //console.log(tel);
                var email=$("#email").val();

                $.ajax({
                    type: 'GET',
                    url: 'getCheckCode',    // 手机验证码的url： /fitness/code
                    data: {
                        email : email
                    },
                    dataType: 'json',
                    success: function(data) {
                        if(data){
                            timer();
                        }else{
                            layer.msg("获取验证码失败");
                        }
                    },
                    error: function(data) {
                        layer.msg('连接超时！');
                    }
                });
            }
            /**
             * timer  倒计时常用于获取手机短信验证码
             */
            function timer() {
                $("#input1").addClass("on");
                var time = 60;
                $("#input1").attr("disabled", true);

                var timer = setInterval(function() {
                    if (time == 0) {
                        clearInterval(timer);
                        $("#input1").attr("disabled", false);
                        $("#input1").val("获取验证码");
                        $("#input1").removeClass("on");
                    } else {
                        $('#input1').val(time + "秒后重发");
                        time--;
                    }
                }, 1000);
            }

			/* //倒计时  有问题，60一直未变，闲了再看
			 function timer() {

			 var waitime = 60;

			 if (waitime == 0) {
			 $("#input1").val("获取验证码");
			 $("#input1").removeAttr("disabled");
			 $("#input1").css("border-color", "1e9fff").css("background", "#ffffff").css("cursor", "pointer");
			 waitime = 60;
			 } else {
			 $("#input1").attr("disabled", "true");
			 $("#input1").css("border-color", "fbfbfb").css("background", "#ccc").css("cursor", "not-allowed");
			 $("#input1").val(waitime + "秒后重发");
			 waitime--;
			 setTimeout(function () {
			 timer()
			 }, 1000);  //1000毫秒结束
			 }
			 }*/

		</script>
    	
    </body>
</html>