<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>客服聊天室</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" href="css/register.css">
    <!--导入jquery-->
    <script src="js/jquery-3.3.1.js"></script>
    <!-- jquery在线版本 -->
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <!--引入样式-->
    <link th:href="@{/css/socketChart.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<!--引入头部-->
<div id="header"></div>
<!-- 头部 end -->
<div class="rg_layout">
        <div id="hz-main">
            <div id="hz-message">
                <!-- 头部 -->
                正在与<span id="toUserName"></span>聊天
                <hr style="margin: 0px;"/>
                <!-- 主体 -->
                <div id="hz-message-body">
                </div>
                <!-- 功能条 -->
                <div id="">
                    <button>表情</button>
                    <button>图片</button>
                    <button id="videoBut">视频</button>
                    <button onclick="send()" style="float: right;">发送</button>
                </div>
                <!-- 输入框 -->
                <div contenteditable="true" id="hz-message-input">

                </div>
            </div>
            <div id="hz-group">
                登录用户：<span id="talks" th:text="${username}">请登录</span>
                <br/>
                在线人数:<span id="onlineCount">0</span>
                <!-- 主体 -->
                <div id="hz-group-body">

                </div>
            </div>
        </div>
</div>
<!--引入尾部-->
<div id="footer"></div>
<!--导入布局js，共享header和footer-->
<script type="text/javascript" src="js/include.js"></script>
<script type="text/javascript" th:inline="javascript">
    //项目根路径
    var ctx = [[${#request.getContextPath()}]];//登录名
    var username = /*[[${username}]]*/'';
</script>
<script th:src="@{/js/socketChart.js}"></script>
</body>
</html>