div.buyPageDiv{
    margin: 20px auto;
    max-width: 1200px;
}
div.addressTip, div.productListTip{
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
}
table.productListTable{
    width: 100%;
    border-collapse: separate;
    font-size:16px;
}
table.productListTable th{
    color: #999999;
    font-family: 宋体;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    padding-bottom: 5px;
}
table.productListTable tr.rowborder td{
    background-color: #b2d1ff;
    border-right: 2px solid #fff;
    height: 3px;
}
th.productListTableFirstColumn{
    text-align: left !important;
}
img.tmallbuy{
    width: 15px;
}
a.marketLink{
    color: black;
    font-size: 16px;
    font-family: 宋体;
    font-weight: normal;
}
a.marketLink:hover{
    color: black;
    font-size: 16px;
    text-decoration: underline;
    font-family: 宋体;
    font-weight: normal;
}
span.wangwangGif{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image:url(http://how2j.cn/tmall/img/site/wangwang.gif);
    background-repeat: no-repeat;
    background-color: transparent;
    background-attachment: scroll;
    background-position: -83px -0px;
    position: relative;
    top: 8px;
    left: 2px;
}
tbody.productListTableTbody td{
    text-align: center;
    height: 150px;
}
tbody.productListTableTbody td.orderItemFirstTD{
    text-align: left;
}
tr.orderItemTR td{
    border-bottom: 1px solid #E5E5E5;
}
tr.orderItemTR td{
    padding: 10px 0px;
}
img.orderItemImg{
    width: 50px;
    height: 50px;
    border: 1px solid #E9E9E9;
}
td.orderItemProductInfo{
    text-align:left !important;
}
td.orderItemProductInfo img{
    height: 16px;
}
a.orderItemProductLink{
    color: #666666;
    display: block;
}
a.orderItemProductLink:hover{
    color: #666666;
    text-decoration: underline;
}
span.orderItemProductPrice, span.orderItemProductNumber{
    color: #000000;
}
span.orderItemUnitSum{
    color: #CC0000;
    font-weight: bold;
}
td.orderItemFirstTD, td.orderItemLastTD{
    border-bottom: 0px solid black !important;
}
label.orderItemDeliveryLabel{
    color: #666666;
    font-family: 宋体;
    font-size: 16px;
    font-weight: normal;
}
select.orderItemDeliverySelect{
    width: 100px;
    height: 23px;
}
div.orderItemSumDiv{
    padding: 20px;
    border-top: 2px solid #B4D0FF;
    background-color: #F2F6FF;
    height: 100px;
}
div.orderItemSumDiv span{
    color: #999999;
}
span.leaveMessageText{
    display: inline-block;
    margin-right: 10px;
    float: left;
}
div.orderItemTotalSumDiv{
    margin: 40px;
    height: 40px;
}
div.submitOrderDiv{
    height: 40px;
    margin: 20px 0px;
}
div.orderItemTotalSumDiv span{
    color: #999999;
}
span.orderItemTotalSumSpan{
    color: #C40000 !important;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px dotted #F2F6FF;
}
button.submitOrderButton{
    border: 1px solid #C40000;
    background-color: #C40000;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    float: right;
    display:inline-block;
    margin:0px 10px;
    width:180px;
    height: 40px;
}
body{
    font-size: 12px;
    font-family: Arial;
}
.productListTips{
    color: #333333;
    font-size: 16px;
    text-align: left;
    margin-bottom: 30px;
}
#orderformationDiv{
    margin-left: 30px;
}
.divfomation{
    margin-left: 40px;
    height: 10px;
}

